<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body bg-body-tertiary" data-bs-theme="dark" *ngIf="user">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VHM 2.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-lg-6">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculos" routerLinkActive="active">Vehículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/placas" routerLinkActive="active">Placas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solicitudes" routerLinkActive="active">Solicitud</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-lg-6 justify-content-lg-end">
        <li class="nav-item">
          <button class="btn btn-link nav-item nav-link" (click)="logout()">Cerrar Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="container mt-lg-3">
  <router-outlet></router-outlet>
</div>
